<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Gorjeta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="V" label="Valor" labelPlacement="floating" placeholder="Digite o valor do serviço"></ion-input>
    </ion-item>
    <ion-radio-group [(ngModel)]="GR">
    <ion-item>
    <ion-label>10%</ion-label>
    <ion-radio value="10"></ion-radio>
    </ion-item>
    <ion-item>
    <ion-label>15%</ion-label>
    <ion-radio value="15"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>20%</ion-label>
      <ion-radio value="20"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-button expand="block" (click)="calcularGorjeta()">Calcular</ion-button>
    </ion-content>
